<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dk.nordfalk.android.elementer"
          android:versionCode="37"
          android:versionName="2.00 1. sept 2014">

    <!--
    denne app virker fra Android 2.1 (API 7) og frem
    men den er beregnet til Android 2.3.2 (API 9)
    Bemærk at man ikke må bruge hovedtråden til netværk fra Android 2.3.3,
    så f.eks Byvejr vil ikke virke med android:targetSdkVersion="10" og højere
    -->
    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="20"/>

    <!-- tilladelser -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <!-- Undgå at appen bliver utilgængelig for visse enheder i Android Marked. Se
      http://developer.android.com/guide/topics/manifest/uses-feature-element.html
    -->
    <uses-feature
            android:name="android.hardware.telephony"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.location"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.location.gps"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.location.network"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false"/>
    <uses-feature
            android:name="android.software.live_wallpaper"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.screen.portrait"
            android:required="false"/>


    <application
            android:icon="@drawable/logo"
            android:name="lekt04_arkitektur.MinApp">
        <!--
          aktiviteter som ikke kan ses fra startskærmen men som kan kaldes
          internt i programmet
        -->
        <activity android:name="lekt01_views.BenytEnKnap"/>
        <activity android:name="lekt01_views.BenytKnapperProgrammatisk"/>
        <activity android:name="lekt01_views.BenytKnapperDeklarativ"/>
        <activity android:name="lekt01_views.BenytWebView"/>
        <activity android:name="lekt01_views.ByvejrProgrammatisk"/>
        <activity android:name="lekt01_views.ByvejrDeklarativ"/>
        <activity android:name="lekt01_views.BenytHtmlTags"/>
        <activity android:name="lekt01_views.BenytMenuer"/>


        <activity android:name="lekt02_aktiviteter.Splash_akt"/>
        <activity android:name="lekt02_aktiviteter.Hovedmenu_akt"/>
        <activity android:name="lekt02_aktiviteter.Hjaelp_akt"/>
        <activity android:name="lekt02_aktiviteter.Indstillinger_akt"/>
        <activity android:name="lekt02_aktiviteter.Spillet_akt"/>

        <activity android:name="lekt02_intents.BenytIntents"/>
        <activity android:name="lekt02_intents.BenytIntentsFraGoogle"/>
        <activity android:name="lekt02_intents.BenytIntentsMedResultat" android:screenOrientation="portrait"/>

        <!-- Denne aktivitet fanger browsning af URLer der starter med http://javabog.dk/OOP/ -->
        <activity android:name="lekt02_intents.FangBrowseIntent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:scheme="http"
                        android:host="javabog.dk"
                        android:pathPrefix="/OOP/"/>
            </intent-filter>
        </activity>


        <activity android:name="lekt03_diverse.AfspilLyd"/>
        <activity android:name="lekt03_diverse.AfspilVideo"/>
        <activity android:name="lekt03_diverse.BenytWebView2"/>
        <activity android:name="lekt03_diverse.BenytMenuer2"/>
        <activity android:name="lekt03_diverse.BenytDialogerOgToasts"/>
        <activity android:name="lekt03_diverse.TekstTilTale"/>

        <activity android:name="lekt03_net.BenytNetOgAsyncTask"/>
        <activity android:name="lekt03_net.ByvejrAktivitet"/>

        <activity android:name="lekt04_arkitektur.NoteAktivitet"/>

        <activity android:name="lekt04_lister.BenytListView"/>
        <activity android:name="lekt04_lister.BenytListActivity"/>
        <activity android:name="lekt04_lister.BenytGallery"/>
        <activity android:name="lekt04_lister.BenytGridView"/>
        <activity android:name="lekt04_lister.BenytSpinner"/>
        <activity android:name="lekt04_lister2.BenytListViewMedEgetLayout"/>
        <activity android:name="lekt04_lister2.BenytListViewMedEgetLayout2"/>
        <activity android:name="lekt04_lister2.VisAlleAndroidDrawables"/>
        <activity android:name="lekt04_lister2.BenytListviewMedOverskrifter"/>
        <activity android:name="lekt04_lister2.BenytExpandableListActivity"/>


        <activity android:name="lekt05_grafik.Tegneprogram"/>
        <activity android:name="lekt05_grafik.Grafikdemo0"/>
        <activity android:name="lekt05_grafik.Grafikdemo1"/>
        <activity android:name="lekt05_grafik.Braetspil"/>
        <activity android:name="lekt05_grafik.Grafikdemo2"/>
        <activity android:name="lekt05_grafik.BenytAnimationer"/>
        <activity android:name="lekt05_grafik.BenytBilledeknapper"/>
        <activity android:name="lekt05_grafik.FlytbarVejrudsigt"/>

        <!-- android:configChanges gør at aktiviteten selv håndterer skærvendingen, dvs den bliver ikke mere genstartet -->
        <activity
                android:name="lekt05_sensorer.VisSensorer"
                android:configChanges="orientation"/>
        <activity android:name="lekt05_grafik.ProgrammatiskLayout2"/>
        <!-- android:screenOrientation slår vending af skærmen fra på denne aktivitet -->
        <activity
                android:name="lekt05_sensorer.Kompas"
                android:screenOrientation="portrait"/>
        <activity
                android:name="lekt05_sensorer.Kompas2"
                android:screenOrientation="portrait"/>
        <activity
                android:name="lekt05_sensorer.Balancespil"
                android:screenOrientation="portrait"/>

        <activity android:name="lekt05_sensorer.Stedbestemmelse"/>


        <activity android:name="lekt06_data.CSVParsning"/>
        <activity android:name="lekt06_data.JsonParsning"/>
        <activity android:name="lekt06_data.JsonGenerering"/>
        <activity android:name="lekt06_data.XmlParsning"/>
        <activity android:name="lekt06_data.BenytSQLite"/>

        <activity android:name="lekt06_youtube.YoutubeRssParsning"/>
        <activity android:name="lekt06_youtube.BenytVideoView" android:configChanges="orientation"/>

        <activity android:name="lekt06_asynkron.Asynkron1Thread"/>
        <activity android:name="lekt06_asynkron.Asynkron2AsyncTask"/>
        <activity android:name="lekt06_asynkron.Asynkron2Handler"/>
        <activity android:name="lekt06_asynkron.Asynkron3Korrekt"/>
        <activity android:name="lekt06_asynkron.Asynkron3KorrektStatic"/>

        <activity android:name="lekt07_fragmenter.BenytFragment"/>
        <activity android:name="lekt07_fragmenter.BenytFragmenter"/>


        <activity android:name="lekt08_providers.VisOpkald"/>
        <activity android:name="lekt08_providers.VisKontakter"/>
        <activity android:name="lekt08_providers.VisKontakterIListView"/>


        <activity android:name="lekt09_recievers.OpdagAppInstallation"/>
        <activity android:name="lekt09_recievers.ModtagSMSer"/>
        <activity android:name="lekt09_recievers.OpdagNetvaerksAEndring"/>

        <activity android:name="lekt09_services.BenytService"/>
        <!-- Simpel service der, når startet, forsøger at holde app'en i hukommelsen -->
        <service android:name="lekt09_services.BaggrundsService"/>
        <!-- Simpel service der, når startet, insisterer på at holde app'en i hukommelsen -->
        <service android:name="lekt09_services.ForgrundsService"/>

        <activity android:name="lekt09_services.BenytIntentService"/>
        <service android:name="lekt09_services.MinIntentService"/>

        <!-- Levende baggrund på hjemmeskærmen der viser en esperanto-stjerne -->
        <service
                android:name="lekt09_levendebaggrund.Esperantotapet"
                android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                    android:name="android.service.wallpaper"
                    android:resource="@xml/levendebaggrund_esperanto"/>
        </service>


        <!-- Levende ikon på hjemmeskærmen der viser hvad klokken er -->
        <receiver android:name="lekt09_levendeikon.VisKlokkenIkon">   
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/levendeikon_visklokken"/>
        </receiver>


        <activity android:name="touchinput.BenytGestureDetector"/>
        <activity android:name="touchinput.BenytScaleGestureDetector"/>
        <activity android:name="touchinput.BenytMultiTouchController"/>


        <activity android:name="lekt10_livscyklus.ManglendeKaldTilSuperklasse"/>
        <activity android:name="lekt10_livscyklus.LogAktivitet"/>
        <activity android:name="lekt10_livscyklus.Liv1_singleton"/>
        <activity android:name="lekt10_livscyklus.Liv2_gemIFil"/>
        <activity android:name="lekt10_livscyklus.Liv3_nonConfigurationInstance"/>
        <activity android:name="lekt10_livscyklus.Liv4_bundle"/>
        <activity android:name="lekt10_livscyklus.DialogDerOverleverSkaermvending"/>
        <activity android:name="ufaerdigt.ByvejrAktivitet2"/>


        <!-- aktivitet som kan ses fra startskærmen -->
        <activity
                android:name="dk.nordfalk.aktivitetsliste.Aktivitetsliste"
                android:label="AndroidElementer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Jeg skjuler alle aktiviteter der står herunder fra Aktivitetsliste -->
        <activity android:name="dk.nordfalk.aktivitetsliste.VisKildekodeIWebView"/>
        <activity android:name="dk.nordfalk.aktivitetsliste.VisKildekode">
            <!-- bruges af metoden VisKildekode.findWebUrl() -->
            <meta-data
                    android:name="web_url"
                    android:value="http://code.google.com/p/android-eksempler/source/browse/AndroidElementer/"/>
        </activity>


    </application>

</manifest>
